<article class="simple-post-list-item" itemscope itemtype="https://schema.org/CreativeWork">

  <h2 class="simple-post-title" itemprop="headline">
    <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
  </h2>

  {% assign cat = page.category | downcase %}
  {% assign posts = site.categories[cat] %}
  {% assign entries_layout = page.entries_layout | default: 'list' %}
  
  {% if posts %}
    <div class="entries-{{ entries_layout }}">
      {% for post in posts %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
  {% else %}
    <p>No posts found in this category.</p>
  {% endif %}

</article>