---
layout: default
---

{% include sidebar.html %}

<div class="page__content">
  <h1>{{ page.title }}</h1>

  {% assign cat = page.category | downcase %}
  {% assign posts = site.categories[cat] %}
  {% assign entries_layout = page.entries_layout | default: 'list' %}

  {% if posts %}
    <div class="entries-{{ entries_layout }}">
      {% for post in posts %}
        {% include archive-single.html post=post type=entries_layout %}
      {% endfor %}
    </div>
  {% else %}
    <p>No posts found in this category.</p>
  {% endif %}

</div>