.page {
    display: flex;
    gap: 2rem;
  }
  
  // .page__content {
  //   flex: 1;
  //   padding: 2rem 2rem; 
  //   max-width: none;
  // }
  
  .page__content {
    max-width: 1000px;   // 혹은 1080px, 1200px 등도 가능
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .entries-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }

  .archive__item {
    padding: 1rem;
  }


  @media (min-width: 1024px) {
    .page__content {
      max-width: 1080px;
    }
  }