.page {
    display: flex;
    gap: 2rem;
  }
  
  .page__content {
    flex: 1;
    padding: 2rem 1.5rem;
    max-width: 800px;
  }
  

  .entries-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }